{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_description_reviews_tabs_navigation_description %}
    {{ parent() }}
    {% set customFieldSetName = config('AdditionalProductTab.config.customFieldSetName') %}
    {% if customFieldSetName and element.data.product %}
        {% set product = element.data.product %}
        {% for customFieldSet in product.customFieldSets %}
            {% if customFieldSet.name == customFieldSetName %}
                <li class="nav-item">
                    <a class="nav-link product-detail-tab-navigation-link"
                       id="zusatz-tab-{{ product.id }}"
                       data-bs-toggle="tab"
                       data-off-canvas-tabs="true"
                       href="#zusatz-tab-{{ product.id }}-pane"
                       role="tab"
                       aria-controls="zusatz-tab-{{ product.id }}-pane"
                       aria-selected="false">
                        <span>{{ customFieldSet.translated.label }}</span>
                        <span class="product-detail-tab-navigation-icon">
                            {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                        </span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_description %}
    {{ parent() }}
    {% set customFieldSetName = config('AdditionalProductTab.config.customFieldSetName') %}
    {% if customFieldSetName and element.data.product %}
        {% set product = element.data.product %}
        {% for customFieldSet in product.customFieldSets %}
            {% if customFieldSet.name == customFieldSetName %}
                <div class="tab-pane fade"
                     id="zusatz-tab-{{ product.id }}-pane"
                     role="tabpanel"
                     aria-labelledby="zusatz-tab-{{ product.id }}">
                    <div class="product-detail-description tab-pane-container">
                        <div class="cms-description-container">
                            <h2 class="product-detail-description-title">{{ customFieldSet.translated.label }}</h2>
                            <div class="product-detail-description-text">
                                {% set customFieldName = config('AdditionalProductTab.config.customFieldName') %}
                                {% if customFieldName and product.translated.customFields[customFieldName] is defined %}
                                    {{ product.translated.customFields[customFieldName]|raw }}
                                {% else %}
                                    <p>Kein Inhalt verfügbar</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}